body {
    font-family: Arial;
    margin: 40px;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
}

input, button {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
}
